.topbar.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #b7b9cc;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #858796;
}

#navbar_top {
    margin-bottom: 0 !important;
}
#event-sec {
    background-color: #fff;
}

/* Branding */
.navbar-brand {
    width: 10%;
    text-align: center;
    display: flex;
}
#cust-brand-text span {
    color: #224abe;
}

/* Home Slider */
#home-sec {
    background-size: cover;
}
#home-sec h1 {
    padding: 300px 200px 200px 200px;
    text-align: center;
    font-size: 100px;
    line-height: 110px;
    color: #fff;
    margin: 0;
}

.custom-heading-h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
}
.section {
    padding: 100px 0;
}

.daterangepicker select{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

input.error {
    border-color: #e00;
}

/* message */
#user_message {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
}

/* Form */
.no-pad-h {
    padding: 0 20px !important;
}

/* Select 2 */
.select2-selection__rendered,
.select2-container ul li,
.select2-search input {
    color: #6e707e !important;
    font-size: 14px;
}

.select2-container ul li:hover {
    color: #fff !important;
}

/* Login */

.bg-login-admin {
    background-image: url(../img/admin_bg.jpg);
}